@model ICollection<BnbGo.Models.Room>
@Html.AntiForgeryToken()
@if (Model != null && Model.Count() > 0)
{
    <table class="col col-xl-12 col-la-12 col-md-12 col-sm-12 col-xs-12">
        <thead>
          <tr>
            <th>Element</th>
            <th>Value</th>
          </tr>
        </thead>
        <tbody>
            @foreach (var room in Model)
            {
                <tr>
                    <td>Id</td>
                    <td>@room.Id</td>
                </tr>
                <tr>
                    <td>Name</td>
                    <td>@room.Name</td>
                </tr>
                <tr>
                    <td>Description</td>
                    <td>@room.Description</td>
                </tr>
                <tr>
                    <td>Location</td>
                    <td>@room.Location.Name @room.Location.Description, @room.City.Postal @room.City.Name</td>
                </tr>
                <tr>
                    <td>Base price</td>
                    <td>@room.PriceBase</td>
                </tr>
                <tr>
                    <td>Price per night</td>
                    <td>@room.PricePerNight</td>
                </tr>
                <tr>
                    <td>House rules</td>
                    <td>@room.HouseRules</td>
                </tr>
                <tr>
                    <td>House type</td>
                    <td>@room.HouseType.Name</td>
                </tr>
                <tr>
                    <td>Room type</td>
                    <td>@room.RoomType.Name</td>
                </tr>
                <tr>
                    <td>Rent type</td>
                    <td>@room.RentType.Name</td>
                </tr>
                <tr>
                    <td>Facilities</td>
                    <td>
                        <ul>
                            @foreach (var facility in room.Facilities)
                            {
                                <li>@facility.Facility.Name</li>
                            }
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>Owner</td>
                    <td>@room.User.FirstName @room.User.SurName</td>
                </tr>
                <tr>
                    <td>Create date</td>
                    <td>@room.CreatedAt</td>
                </tr>
                <tr>
                    <td>Update date</td>
                    @if (@room.UpdatedAt == null) {
                        <td>Not Updated</td>
                    } else {
                        <td>@room.UpdatedAt</td>
                    }
                </tr>
                <tr>
                    <td>Delete date</td>
                    @if (@room.DeletedAt == null) {
                        <td>Not Deleted</td>
                    } else {
                        <td>@room.DeletedAt</td>
                    }
                </tr>
            } 
        </tbody>
      </table>
}
else
{
    <p>No details available!</p>
}
</div>