@model ICollection<BnbGo.Models.Room>
@Html.AntiForgeryToken()
@if (Model != null && Model.Count() > 0)
{
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Description</th>
            <th>User</th>
            <th>Region</th>
            <th>City</th>
          </tr>
        </thead>
        <tbody>
          @foreach (var room in Model)
          {
            <tr>
              <td>@room.Name</td>
              <td>@room.Description</td>
              <td>@room.UserId</td>
              <td>@room.RegionId</td>
              <td>@room.CityId</td>
            </tr>
          }
        </tbody>
      </table>
}
else
{
    <p>No Rooms in the database!</p>
}
</div>