@model ICollection<BnbGo.Models.Room>
@Html.AntiForgeryToken()
@if (Model != null && Model.Count() > 0)
{
      <table class="col col-xl-12 col-la-12 col-md-12 col-sm-12 col-xs-12">
        <thead>
          <tr>
            <th>Room name</th>
            <th>Owner</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          @foreach (var room in Model)
          {
            <tr>
              <td>@room.Name</td>
              <td>@room.User.FirstName  @room.User.SurName</td>
              <td>
                <a asp-controller="room" asp-action="Show" asp-route-id="@room.Id">
                  <i class="fa fa-eye" title="View"></i>
                </a>
                <a asp-controller="room" asp-action="Edit" asp-route-id="@room.Id">
                  <i class="fa fa-pencil" title="Edit"></i>
                </a>
                @if (@room.DeletedAt != null)
                {
                    <a asp-controller="room" asp-action="Delete" asp-route-id="@room.Id" asp-route-actionType="5" data-is-softdelete="true">
                      <i class="fa fa-trash-o" title="revert delete"></i>
                    </a>
                }
                else
                {
                    <a asp-controller="room" asp-action="Delete" asp-route-id="@room.Id" asp-route-actionType="4">
                      <i class="fa fa-trash" title="soft delete"></i>
                    </a>
                }
                <a asp-controller="room" asp-action="Delete" asp-route-id="@room.Id" asp-route-actionType="3">
                  <i class="fa fa-ban" title="delete forever"></i>
                </a>
            </tr>
          }
        </tbody>
      </table>
}
else
{
    <p>No Countries in the database!</p>
}
</div>