@model ICollection<BnbGo.Models.User>
@Html.AntiForgeryToken()
@if (Model != null && Model.Count() > 0)
{
      <table>
        <thead>
          <tr>
            <th>FirstName</th>
            <th>SurName</th>
            <th>Email</th>
            <th>Gender</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          @foreach (var user in Model)
          {
            <tr>
              <td>@user.FirstName</td>
              <td>@user.SurName</td>
              <td>@user.Email</td>
              <td>@user.Gender</td>
              <td><i class="fa fa-pencil"> </i><i class="fa fa-trash-o"></i> <i class="fa fa-trash"></i></td>
            </tr>
          }
        </tbody>
      </table>
}
else
{
    <p>No Users in the database!</p>
}
</div>