@model ICollection<BnbGo.Models.Country>
@Html.AntiForgeryToken()
@if (Model != null && Model.Count() > 0)
{
    <table class="col col-xl-12 col-la-12 col-md-12 col-sm-12 col-xs-12">
        <thead>
          <tr>
            <th>Element</th>
            <th>Value</th>
          </tr>
        </thead>
        <tbody>
            @foreach (var country in Model)
            {
                <tr>
                    <td>Id</td>
                    <td>@country.Id</td>
                </tr>
                <tr>
                    <td>Name</td>
                    <td>@country.Name</td>
                </tr>
                <tr>
                    <td>Isocode</td>
                    <td>@country.Iso2</td>
                </tr>
                <tr>
                    <td>Currency</td>
                    <td>@country.CurrencyType.Name</td>
                </tr>
                <tr>
                    <td>Create date</td>
                    <td>@country.CreatedAt</td>
                </tr>
                <tr>
                    <td>Update date</td>
                    @if (@country.UpdatedAt == null) {
                        <td>Not Updated</td>
                    } else {
                        <td>@country.UpdatedAt</td>
                    }
                </tr>
                <tr>
                    <td>Delete date</td>
                    @if (@country.DeletedAt == null) {
                        <td>Not Deleted</td>
                    } else {
                        <td>@country.DeletedAt</td>
                    }
                </tr>
            } 
        </tbody>
      </table>
}
else
{
    <p>No details available!</p>
}
</div>