@model ICollection<BnbGo.Models.Country>
@Html.AntiForgeryToken()
@if (Model != null && Model.Count() > 0)
{
      <table>
        <thead>
          <tr>
            <th>Country</th>
            <th>Iso Code</th>
            <th>Description</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          @foreach (var country in Model)
          {
            <tr>
              <td>@country.Name</td>
              <td>@country.Iso2</td>
              <td>@country.Description</td>
              <td>
                <a asp-controller="country" asp-action="Edit" asp-route-id="@country.Id">
                  <i class="fa fa-pencil"></i>
                </a>
                @if (@country.DeletedAt != null)
                {
                    <a asp-controller="country" asp-action="Delete" asp-route-id="@country.Id" asp-route-actionType="5" data-is-softdelete="true">
                      <i class="fa fa-trash-o"></i>
                    </a>
                }
                else
                {
                    <a asp-controller="country" asp-action="Delete" asp-route-id="@country.Id" asp-route-actionType="4">
                      <i class="fa fa-trash"></i>
                    </a>
                }
                <a asp-controller="country" asp-action="Delete" asp-route-id="@country.Id" asp-route-actionType="3">
                  <i class="fa fa-ban"></i>
                </a>
            </tr>
          }
        </tbody>
      </table>
}
else
{
    <p>No Countries in the database!</p>
}
</div>