@model ICollection<BnbGo.Models.City>
@Html.AntiForgeryToken()
@if (Model != null && Model.Count() > 0)
{
    <table class="col col-xl-12 col-la-12 col-md-12 col-sm-12 col-xs-12">
        <thead>
          <tr>
            <th>Element</th>
            <th>Value</th>
          </tr>
        </thead>
        <tbody>
            @foreach (var city in Model)
            {
                <tr>
                    <td>Id</td>
                    <td>@city.Id</td>
                </tr>
                <tr>
                    <td>Name</td>
                    <td>@city.Name</td>
                </tr>
                <tr>
                    <td>Description</td>
                    <td>@city.Description</td>
                </tr>
                <tr>
                    <td>Currency</td>
                    <td>@city.Region.Name</td>
                </tr>
                <tr>
                    <td>Create date</td>
                    <td>@city.CreatedAt</td>
                </tr>
                <tr>
                    <td>Update date</td>
                    @if (@city.UpdatedAt == null) {
                        <td>Not Updated</td>
                    } else {
                        <td>@city.UpdatedAt</td>
                    }
                </tr>
                <tr>
                    <td>Delete date</td>
                    @if (@city.DeletedAt == null) {
                        <td>Not Deleted</td>
                    } else {
                        <td>@city.DeletedAt</td>
                    }
                </tr>
            } 
        </tbody>
      </table>
}
else
{
    <p>No details available!</p>
}
</div>