@model IEnumerable<BnbGo.Models.City>
@Html.AntiForgeryToken()
@if (Model != null && Model.Count() > 0)
{
      <table>
        <thead>
          <tr>
            <th>@Html.ActionLink("City", "Index", new { sortOrder = ViewBag.NameSortParm })</th>
            <th>Region</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          @foreach (var city in Model)
          {
            <tr>
              <td>@city.Name</td>
              <td>@city.Region.Name</td>
              <td>
                <a asp-controller="City" asp-action="Edit" asp-route-id="@city.Id">
                  <i class="fa fa-pencil" role="presentation"></i>
                </a>
                @if (@city.DeletedAt != null)
                {
                    <a asp-controller="city" asp-action="Delete" asp-route-id="@city.Id" asp-route-actionType="5" data-is-softdelete="true">
                      <i class="fa fa-trash-o"></i>
                    </a>
                }
                else
                {
                    <a asp-controller="city" asp-action="Delete" asp-route-id="@city.Id" asp-route-actionType="4">
                      <i class="fa fa-trash"></i>
                    </a>
                }
                <a asp-controller="city" asp-action="Delete" asp-route-id="@city.Id" asp-route-actionType="3">
                  <i class="fa fa-ban"></i>
                </a>
            </td>
            </tr>
          }
        </tbody>
      </table>
}
else
{
    <p>No Cities in the database!</p>
}
</div>